[numerics]
lut_interpolation = "cubic"
float_type = "Float64"

[test_convolution]
p_h2o_hpa = 780.0
t_o2_k = 250.0
vcd_h2o = 3.981071705534969e22
t_h2o_k = 285.0
vcd_o2 = 3.981071705534985e24
p_o2_hpa = 800.0

[spectral]
lambda_max_nm = 756.0
lambda_min_nm = 640.0
normalize_sif_first_ev = true
delta_lambda_nm = 0.005
sif_nev = 2

[kernel]
compare_with_stored = true
band_match_tol_nm = 0.01
use_effective_band_centers = true
clip_negative_rsr = true
save_regenerated = false

[data]
pace_rsr_file = "PACE_OCI_RSRs.nc"
o2_file = "wavelength-run_O2.jld2"
h2o_file = "wavelength-run_H2O.jld2"
regenerated_kernel_file = "KernelInstrument_regenerated.jld2"
xsec_run = "wavelength-run"
kernel_file = "KernelInstrument.jld2"
sif_file = "SIF_singular_vector.jld2"
base_dir = "/Users/cfranken/data"
xsec_dir = ""

[fit]
conv_stall_window = 3
vcd_slope_prior_sigma_factor = 1.0
lm_max_inner = 24
lm_lambda0 = 1.0
use_legendre_higher_prior = true
t_prior_k = 280.0
conv_stall_enable = true
prior_min_sigma = 0.001
use_hybrid_jacobian = true
conv_stall_dx_rel_tol = 0.005
conv_rmse_rel_tol = 1.0e-6
legendre_higher_sigma = 1.0
p_sigma_hpa = 200.0
iter_plot_file = "toy_fit_iter_spectral.png"
n_plot_steps = 20
preallocate_forward = true
use_vcd_slope_prior = true
conv_stall_redchi2_abs_tol = 0.1
rel_obj_tol = 1.0e-8
use_legendre01_prior = true
n_legendre = 3
t_sigma_k = 20.0
meas_sigma = 0.01
lm_lambda_min = 1.0e-8
max_iter = 12
vcd_h2o_sigma = 3.0e22
rel_step_tol = 1.0e-8
conv_stall_redchi2_target = 5.0
pt_constraint_sigma_mult = 3.0
lm_lambda_max = 1.0e8
conv_stall_redchi2_rel_tol = 0.03
sif_sigma = 1.0e12
vcd_o2_sigma = 1.0e23
legendre01_prior_sigma_fraction = 1.0
conv_rmse_abs_tol = 1.0e-6
p_prior_hpa = 700.0
iter_log_file = "toy_fit_iter_log.csv"
preallocate_jacobian = false
conv_dx_rel_tol = 1.0e-6
use_pt_constraints = true
preallocate_ad_forward = false
prior_sigma_default = 1.0e12
lm_lambda_down = 0.7
lm_lambda_up = 5.0

[batch_fit]
pixel_start = 540
scan_start = 1
dark_filter_enabled = true
output_dir = "batch_output"
output_suffix = "_retrieval_hour_ocean_dark.nc"
dark_max_radiance = 20.0
pixel_end = 590
scan_end = 0
ocean_mask_values = [1]
ocean_filter_enabled = true
watermask_var = "watermask"
max_outer_steps = 10
pace_files = []

[pace_observation]
wavelength_var = "red_wavelength"
enabled = true
pace_file = "sample_granule_20240830T131442_new_chl.nc"
spectrum_var = "radiance_red"
scan_index = 952
pixel_index = 633
